@using MvcKutuphane.Models.Entity
@model List<TblDuyurular>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}

<h2>Duyurular</h2>

<table class="table table-bordered">
    <tr>
        <th>Duyuru Id</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>İçerik</th>
    </tr>
    @foreach (var ktg in Model)
    {
        if (ktg.KATEGORI == "Kitaplarimizz")
        {
            renk = "bg-info text-white";
        }
        if (ktg.KATEGORI == "deneme")
        {
            renk = "bg-warning text-white";
        }
        if (ktg.KATEGORI == "Diger")
        {
            renk = "bg-success text-white";
        }
        if (ktg.KATEGORI == "Istek Kutusu")
        {
            renk = "bg-danger text-white";
        }
        <tr class="@renk">
            <td>@ktg.ID</td>
            <td>@ktg.KATEGORI</td>
            <td>@Convert.ToDateTime(ktg.TARIH).ToShortDateString()</td>
            <td><a href="/Duyuru/DuyuruSil/@ktg.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Duyuru/DuyuruGetir/@ktg.ID" class="btn btn-info">Detay</a></td>
        </tr>
    }
</table>
<a href="/Duyuru/DuyuruEkle/" class="btn btn-primary">Yeni Duyuru</a>

