@using MvcKutuphane.Models.Entity
@model List<TblDuyurular>

@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/PanelLLayout.cshtml";
}

<h2>Duyurular</h2>

<table class="table table-bordered">
    <tr>
        <th>Duyuru Id</th>
        <th>Kategori</th>
        <th>İçerik</th>
        <th>Tarih</th>
    </tr>
    @foreach (var ktg in Model)
    {
        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.KATEGORI</td>
            <td>@ktg.ICERİK</td>
            <td>@Convert.ToDateTime(ktg.TARIH).ToShortDateString()</td>
        </tr>
    }
</table>

